@import 'variables.pcss';

.number-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;

  &__btn {
    margin: var(--grid2) 0 0 var(--grid2);
    width: calc(100% / 3 - var(--grid2));
  }
}
