{
  "presets": [
      [
        "@babel/preset-env",
        { "useBuiltIns": "entry" }
      ],
      "@babel/preset-typescript",
      "@babel/preset-react",
      "mobx"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
