@import 'variables.pcss';

.scientific-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin-left: calc(var(--grid2) * -1);

  &__btn {
    margin: var(--grid2) 0 0 var(--grid2);
    width: calc(100% / 3 - var(--grid2));

    sup {
      font-size: var(--font-size-100);
    }
  }

  &__toggle {
    margin: var(--grid2) 0 0 var(--grid2);
    width: calc(100% / 3 * 2 - var(--grid2));
  }
}
