@import 'variables.pcss';

.scientific-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;

  &__btn {
    margin: var(--grid1) 0 0 var(--grid1);
    width: calc(100% / 3 - var(--grid1));
  }
}
